th, td {
    border: 1px solid black;
    padding: 30px;
}

table {
    color: black;
    margin-left: 365px;
}

thead, th{
    border: none;
    letter-spacing: 0.7px;
    text-align: left;
    padding: 15px;
    width: 250px;

}

tbody, td{
    border: none;
}
